<h1> Contact information </h1>

<tr>
	<td><%= "Name: Samuel Huang" %>
		<br>
	<td><%= "Phone number: (415) 572-5670" %>
		<br>	
	<td><%= "email: samuel1008@gmail.com" %>
		<br>
	<td><%= "github: samuel1008@gmail.com"	%>
<tr>	
<br>
<%= link_to("Home", {:action => 'index'}) %>
<br>	
<%= link_to("About Me", {:action => 'about'}) %>